{% extends "base.html" %}


{% block css %}
<style type="text/css">
body{
    padding-top: 40px;
  }
  
.content {
    width: auto;
    overflow: hidden;
}

.c1 {
    overflow: hidden;
}
</style>
{% endblock %}


{% block main %}
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }} </p>
    {% endif %}

<div class="content">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{message}}
      {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="c1">
        <h3>{{profile.firstname}} {{profile.lastname}}'s Wishlist</h3>
        <div class="form-inline">
            <form action="{{ url_for('profile_view',userid=profile.id) }}" class="form-control" method="get">
                <input class="btn btn-default" type="submit" value="Add a Wish">
            </form>
            <form action="{{ url_for('logout') }}" class="form-control" method="get">
                <input class="btn btn-default" type="submit" value="Logout">
            </form>
            <form action="{{ url_for('sharing') }}" class="form-control" method="get">
                <input class="btn btn-default" type="submit" value="Share wishlist with a friend">
            </form>
        </div>
    </div>
    <hr/>
    <table>
        {% for wishes in wish %}
            <tr>
                <td>
                    <a href="{{wishes.descurl}}" target="_blank"><img src="{{wishes.thumbs}}" height="100" width="100"></a>
                </td>
                <td>
                    <p>Title: {{wishes.title}}</p>
                    <p>Description: {{wishes.desc}}</p>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}